#account_restricted {
	color: red;
}

#verified {
	color: green;
}

#not_verified {
	color: darkorange;
}

.row {
	margin: 5px 0;
}

#help {
	margin-top: -2px;
	height: 1.25em;
	filter: invert(60%);
	transition: filter .5s;
}

#help:hover {
	filter: invert(30%);
}