.setlist_value  {
	margin-bottom: 1em;
	font-size: large;
}

.setlist_header {
	margin-top: .5rem;
	margin-bottom: 0;
	color: gray;
	font-size: small;
}

#songs_container {
	margin-top: .5em;
}
