<!DOCTYPE html>
<html lang="es">
  <head>
    {{template "header.html"}}
    <link href="/css/collection.css" rel="stylesheet">

    <title>Pantalla Principal - Sheet Music Organizer</title>
  </head>

  <body>
    {{template "navbar.html"}}

    <div class="container">
      <!-- Header -->
      <h1 id="page_header">Cargando...</h1>
      <div id="description_row">
        <span style="font-weight: bold;">Descripción:</span>
        <span id="description"></span>
      </div>
      <hr>

      <div id="alerts"></div>

      <!-- #region Tutorial -->
      <!-- Tutorial alerts -->
      <div class="alert alert-info hidden tutorial" role="alert" id="dashboard_add_tag_tutorial_alert">
        <strong>Dashboard</strong>
        <div>
          This is the dashboard for your collection.
          You can see all the songs and tags in this collection here.
          <br>
          <span class="Click">Click</span> "New tag" to start your collection.
          <br>
          <br>
          <a href="javascript:;" class="alert-link hide_tutorial">Hide tutorial</a>
        </div>
      </div>
      <div class="alert alert-info hidden tutorial" role="alert" id="dashboard_add_song_tutorial_alert">
        <strong>Pantalla Principal</strong>
        <div>
          Now you can organize your songs with tags.
          <br>
          <span class="Click">Click</span> "New song" to continue.
          <br>
          <br>
          <a href="javascript:;" class="alert-link hide_tutorial">Hide tutorial</a>
        </div>
      </div>
      <div class="alert alert-info hidden tutorial" role="alert" id="dashboard_complete_tutorial_alert">
        <strong>Tutorial complete!</strong>
        <div>
          <p>
            Congratulations! Now you know how to add songs and tags to your collection.
            Keep adding and tagging songs and your collection will be organized in no time!
          </p>
          <p>
            Here are some more tips to get you started:
          </p>
          <ul style="margin-top: -.5rem">
            <li><span class="Click">Click</span> on a song or tag to view more details about it.</li>
            <li>You can edit the item you are viewing by <span class="clicking">clicking</span> the Edit button in the Options menu.</li>
            <li>Similarly, you can delete an item by <span class="clicking">clicking</span> the Delete button in the Options menu. This action is immediate and permanent, so make sure you're absolutely certain.</li>
            <li>Use setlists to create a list of songs to plan and share future performances.</li>
            <li>Customize your dashboard  by <span class="clicking">clicking</span> on Settings in the Options menu.</li>
            <li>Invite members to view and manage your collection with you  by <span class="clicking">clicking</span> on Members in the Options menu from the dashboard.</li>
            <li>You can quickly search for a song by keyword using the quick search at the top of the screen at any time.</li>
            <li>Use Advanced Search to search for songs based on keywords, exclude keywords, tags, and last performed date by <span class="clicking">clicking</span> the Advanced Search button in the Options menu of the dashboard or <span class="click">clicking</span> the link in the quick search results page.</li>
          </ul>
          <p>That's it! If you have any questions, don't hesitate to email <a href="mailto:support@sheetmusicorganizer.com">support@sheetmusicorganizer.com</a> for assistance.</p>
          <a href="javascript:;" class="alert-link hide_tutorial">Close tutorial</a>
        </div>
      </div>
      <!-- #endregion -->

      <!-- Main view -->
      <div class="row row-cols-2">
        <!-- All songs list -->
        <div id="all_songs" class="col-sm-6">
          <h3>
            Canciones
            <!--a href="#" id="filter_link"><img src="/img/filter.svg" id="filter" alt="filter icon" title="Filter song list"></a-->
          </h3>
          
          <div id="songs" class="list-group"></div>
          <div class="text-center"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add_song_modal" id="add_song">Nueva canción</button></div>
        </div>
  
        <!-- Tags -->
        <div id="all_tags" class="col-sm-6">
          <h3>Etiquetas</h3>
          <div id="tags" class="list-group"></div>
          <div class="text-center"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add_tag_modal" id="add_tag">Nueva etiqueta</button></div>
        </div>
      </div>
    
      {{template "footer.html"}}

    <!-- #region Modals -->

    <!-- #region Add song -->
    <!-- Add song modal -->
    <div class="modal fade" id="add_song_modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Nueva Canción</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <!-- Tutorial alerts -->
          <div class="alert alert-info hidden tutorial" role="alert" id="add_song_tutorial_alert">
            Here is where you can add details about a song.
            You must specify a name for the song, but everything else is optional.
            The Artist, Location, and Notes fields are all searchable, and you can use the Last Performed date to filter songs in search results.
            The Location field will recognize links and make them <span class="click">click</span>able, so you can easily access sheet music stored online.
            Links will also be made <span class="click">click</span>able in the Notes field, as well as provide thumbnails for links to YouTube videos.
            You may also select from the available tags at the bottom to create the song with.
            <br><br>
            Once you have added a name and any other information you wish, <span class="click">click</span> "Create song".
            <br><br>
            <a href="javascript:;" class="alert-link hide_tutorial">Hide tutorial</a>
          </div>

          <form id="add_song_form">
            <div class="form-group">
              <label for="name" class="col-form-label">Nombre:</label>
              <input type="text" class="form-control" id="name" required placeholder="(necesario)">
            </div>
            <div class="form-group">
              <label for="artist" class="col-form-label">Artista:</label>
              <input type="text" class="form-control" id="artist">
            </div>
            <div class="form-group">
              <label for="location" class="col-form-label">Ubicación:</label>
              <div class="input-group">
                <input type="text" class="form-control" id="location">
                <span class="input-group-append">
                  <img src="/img/help-circle.svg" class="form-control-feedback" id="location_help" alt="Ubicación ayuda" title="Use this field to link to the digital copy of the sheet music, or provide a short description of where the physical copy of the sheet music is.">
                </span>
              </div>
            </div>
            <div class="form-group">
              <label for="last_performed" class="col-form-label">Ejecutar último:</label>
              <input type="date" class="form-control" id="last_performed">
            </div>
            <div class="form-group">
              <label for="notes" class="col-form-label">Notas:</label>
              <textarea class="form-control" id="notes"></textarea>
            </div>
            
            <div class="form-group">
              <label for="tags" class="col-form-label">Etiquetas:</label>
              <div id="tags_list">Cargando...</div>
            </div>

            <!-- This hidden submit button is to allow the form to be submitted by pressing enter in any of the text fields. -->
            <button type="submit" class="hidden"></button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" id="add_song_modal_button">Crear canción</button>
        </div>
        </div>
      </div>
    </div>

    <!-- Add song wait modal -->
    <div class="modal fade in" tabindex="-1" role="dialog" id="song_wait" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Creando canción...</h5>
          </div>
          <div class="modal-body">
            <p>Por favor espera mientras esta canción está crear...</p>
          </div>
        </div>
      </div>
    </div>
    <!-- #endregion -->

    <!-- #region Add tag -->
    <!-- Add tag modal -->
    <div class="modal fade" id="add_tag_modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Nueva Etiqueta</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <!-- Tutorial alerts -->
          <div class="alert alert-info hidden tutorial" role="alert" id="add_tag_tutorial_alert">
            Choose a name for this tag, and optionally any information you want to include in this tag's description.
            Tag descriptions can be viewed when viewing tag details.
            <br><br>
            Once you have added a name, <span class="click">click</span> "Create tag".
            <br><br>
            <a href="javascript:;" class="alert-link hide_tutorial">Hide tutorial</a>
          </div>

          <form id="add_tag_form">
          <div class="form-group">
            <label for="tag_name" class="col-form-label">Nombre:</label>
            <input type="text" class="form-control" id="tag_name" required placeholder="(necesario)">
          </div>
          <div class="form-group">
            <label for="tag_description" class="col-form-label">Descripción:</label>
            <textarea class="form-control" id="tag_description"></textarea>
          </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" id="add_tag_modal_button">Crear etiqueta</button>
        </div>
        </div>
      </div>
    </div>

    <!-- Add tag wait modal -->
    <div class="modal fade in" tabindex="-1" role="dialog" id="tag_wait" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Creando Etiqueta...</h5>
        </div>
        <div class="modal-body">
          <p>Por favor espera mientras esta etiqueta está crear...</p>
        </div>
        </div>
      </div>
    </div>
    <!-- #endregion -->
    
    <!-- #region Edit collection -->
    <!-- Edit collection modal -->
    <div class="modal fade" id="edit_collection_modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Editar Colección</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
            <div class="form-group">
              <label for="collection_name" class="col-form-label">Nombre de colección:</label>
              <input type="text" class="form-control" id="collection_name">
            </div>
            <div class="form-group">
              <label for="collection_description" class="col-form-label">Descripción de colección:</label>
              <textarea class="form-control" id="collection_description"></textarea>
            </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" id="save_collection">Guardar</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Edit collection wait modal -->
    <div class="modal fade in" tabindex="-1" role="dialog" id="edit_collection_wait">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Guardando cambios...</h5>
        </div>
        <div class="modal-body">
          <p>Por favor espera mientras guardamos su cambios...</p>
        </div>
        </div>
      </div>
    </div>
    <!-- #endregion -->
    
    <!-- #region Delete collection -->
    <!-- Delete collection modal -->
    <div class="modal fade" id="delete_collection_modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Eliminar colección confirmación</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>
              ¿Está usted seguro quiere eliminar este colección?
              Esto se quitará todos usuarios de esta colección y 
              se eliminará todos canciones, etiquetas, y todo lo demás en esta colección.
            </p>
            <p>¡Esto NO SE PUEDE deshacer!</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-danger" id="delete_collection">Eliminar</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Delete collection wait modal -->
    <div class="modal fade in" tabindex="-1" role="dialog" id="delete_collection_wait">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Eliminando colección...</h5>
        </div>
        <div class="modal-body">
          <p>Por favor espera mientras esta colección se eliminar...</p>
        </div>
        </div>
      </div>
    </div>
    <!-- #endregion -->
    
    <!-- Settings modal -->
    <div class="modal fade" id="settings_modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Colección Configuración</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="alert alert-info">
              <img src="/img/alert-circle-info.svg" alt="Alert circle" id="alert_info_icon">
              Estas configuraciones se guardan localmente en su computadora,
              y solo afectaría la pantalla principal para esta colección de esta computadora.
              Eliminando las cookies o local storage para esto navegador formateará su configuraciones.
            </div>
            <form>
              <h4>Esconder Etiquetas</h4>
              <p>
                Elija cuál etiquetas esconder de la pantalla principal.
                Las etiquetas y canciones seleccionadas no se mostrarán en la pantalla principal.
                Las canciones aparecerán en los resultados de búsqueda.
              </p>
              <div id="hide_tag_list"></div>

              <h4>Ordenar</h4>
              <p>
                Elija el orden en que se muestran las etiquetas y canciones en la pantalla principal.
              </p>
              <div id="sort_container">
                <div id="name_sort">
                  <h5>Canciones</h5>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="song_sort_order" id="song_sort_name" value="name">
                    <label class="form-check-label" for="song_sort_name">
                      Nombre
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="song_sort_order" id="song_sort_added" value="date_added">
                    <label class="form-check-label" for="song_sort_added">
                      Fecha agregada
                    </label>
                  </div>
                </div>
                <div id="tag_sort">
                  <h5>Etiquetas</h5>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="tag_sort_order" id="tag_sort_name" value="name">
                    <label class="form-check-label" for="tag_sort_name">
                      Nombre
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="tag_sort_order" id="tag_sort_added" value="date_added">
                    <label class="form-check-label" for="tag_sort_added">
                      Fecha agregada
                    </label>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" id="settings_save_button">Guardar</button>
          </div>
        </div>
      </div>
    </div>

    <!-- #endregion -->
  
    <!-- #region Scripts -->
    <script src="/js/collection.js" type="module"></script>
    <!-- #endregion -->
  </body>
</html>
