<!DOCTYPE html>
<html lang="en">
  <head>
    {{template "header.html"}}

    <title>Password Reset Request - Sheet Music Organizer</title>

    <!-- Custom styles for this template -->
		<link href="css/signin.css" rel="stylesheet">
  </head>

  <body class="text-center">
		{{template "navbar.html"}}
		
		<!-- Alert -->
		<div class="alert alert-danger alert-dismissible" role="alert" style="display:none;">
			<strong>There was a problem logging in:</strong><br>
			<span id="reason"></span>
			<button type="button" class="close" aria-label="Close" id="alert-close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>

		<!-- Form -->
		<form class="form-signin">
			<h1 class="h3 mb-3 font-weight-normal">Enter your email address</h1>
			<input type="email" id="email" class="form-control" placeholder="Email address" required autofocus>
			<button class="btn btn-lg btn-primary btn-block" type="button" id="request_reset">Request password reset</button>
			<p class="mt-5 mb-3 text-muted">&copy; 2020 Michael Humphrey<br>All Rights Reserved</p>
		</form>

		<div class="container" id="email_sent" style="display: none;">
			<h1 class="h3 font-weight-normal">Email sent</h1>
			<p>
				An email has been sent to the specified email address with a link to reset your password.
				The link will expire after 1 hour.
				The email should arrive within the next 15 minutes.
				Please check your spam folder if you do not see it.
			</p>
		</div>
		
		{{template "footer.html"}}

		<!-- Modal -->
		<div class="modal fade in" tabindex="-1" role="dialog" id="wait">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Requesting password reset...</h5>
				</div>
				<div class="modal-body">
					<p>Please wait while we send you a password reset email...</p>
				</div>
				</div>
			</div>
		</div>
		
		<!-- Script -->
		<script>
			// Show navbar options
			$("#navbar_logout").hide();
			$("#navbar_account").hide();
			$("#navbar_login").show();
			$("#navbar_register").show();

			$("#request_reset").click(function() {
				$("#wait").modal();
				$('#wait').on('shown.bs.modal', function (e) {
					$.post("/user/password/forgot", JSON.stringify({email: $("#email").val()}))
						.done(function( data ) {
							$("form").hide(500);
							$("#email_sent").show(500);
						})
						.fail(function( data ) {
							$("#reason").text(data.responseJSON.error);
							$(".alert").show()
							console.log(data.responseJSON)
						})
						.always(function() {
							$("#wait").modal("hide")
						});
				});
			});

			$("#alert-close").click(function() {
				$(".alert").hide()
			});

			$('#email').keypress(function (e) {
				if (e.which === 13) {
					$('#request_reset').click();
					return false;
				}
			});
		</script>
  </body>
</html>
