<!DOCTYPE html>
<html>
	<head>
		{{template "header.html"}}

		<title>Home - Sheet Music Organizer</title>
	</head>
	<body>
		{{template "navbar.html"}}

		<div class="container">
			<div class="row">
				<h1>Sheet Music Organizer</h1>
			</div>
			
			<hr>

			<div class="row">
				<p>
					Welcome to Sheet Music Organizer. The goal of this project is to help you organize and
					categorize your sheet music, and keep you focused on your performance. Please
					<a href="/register.html">register</a> if you haven't already, or <a href="/signin.html">sign in</a>
					to start organizing!
				</p>
			</div>

			<hr>

			<!-- <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3"> -->
			<!-- <div class="row row-cols-3"> -->
			<div class="row">
				<!-- <div class="col mb-4"> -->
				<div class="col-12 col-md-6 col-lg-4">
					<div class="card">
						<img src="..." class="card-img-top" alt="Manage multiple collections">
						<div class="card-body">
							<h5 class="card-title">Manage multiple collections</h5>
							<p class="card-text">You can have multiple collections </p>
						</div>
					</div>
				</div>
				
				<!-- <div class="col mb-4"> -->
				<div class="col-12 col-md-6 col-lg-4">
					<div class="card">
						<img src="..." class="card-img-top" alt="Organize your library with tags">
						<div class="card-body">
							<h5 class="card-title">Organize your library with tags</h5>
							<p class="card-text">Create tags and apply them to any number of songs, so that the perfect song is always easily accessible.</p>
						</div>
					</div>
				</div>
				
				<!-- <div class="col mb-4"> -->
				<div class="col-12 col-md-6 col-lg-4">
					<div class="card">
						<img src="..." class="card-img-top" alt="Collaborate with others">
						<div class="card-body">
							<h5 class="card-title">Collaborate with others</h5>
							<p class="card-text">Invite others to contribute to your collection, so that everyone has access to the same, easy library of songs.</p>
						</div>
					</div>
				</div>

			</div>
			
			{{template "footer.html"}}
		</div>

		<script>
			$("#navbar_logout").hide();
			$("#navbar_login").show();
			$("#navbar_register").show();
		</script>
	</body>
</html>