<!DOCTYPE html>
<html lang="en">
  <head>
    {{template "header.html"}}

    <title>Reset Password - Sheet Music Organizer</title>

    <!-- Custom styles for this template -->
		<link href="css/signin.css" rel="stylesheet">
  </head>

  <body class="text-center">
	  {{template "navbar.html"}}

		<div id="alerts"></div>

		<!-- Form -->
		<form class="form-signin">
			<h1 class="h3 mb-3 font-weight-normal">Select a new password</h1>
			<input type="password" id="password" class="form-control" placeholder="New password" required autofocus>
			<input type="password" id="confirm_password" class="form-control" placeholder="Re-type password" required>
			<button class="btn btn-lg btn-primary btn-block" type="button" id="reset">Reset Password</button>
			<p class="mt-5 mb-3 text-muted">&copy; 2020 Michael Humphrey<br>All Rights Reserved</p>
		</form>
		
		{{template "footer.html"}}

		<!-- Modal -->
		<div class="modal fade in" tabindex="-1" role="dialog" id="wait">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Resetting password...</h5>
				</div>
				<div class="modal-body">
					<p>Please wait while we reset your password...</p>
				</div>
				</div>
			</div>
		</div>
		
		<!-- Script -->
		<script>
			// Hide options in navbar
			$("#navbar_collections").hide();
			$("#navbar_logout").hide();

			let token = "";
			let email = "";

			var getUrlParameter = function getUrlParameter(sParam) {
				var sPageURL = window.location.search.substring(1),
					sURLVariables = sPageURL.split('&'),
					sParameterName,
					i;

				for (i = 0; i < sURLVariables.length; i++) {
					sParameterName = sURLVariables[i].split('=');

					if (sParameterName[0] === sParam) {
						return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
					}
				}
			};

			$(function() {
				token = getUrlParameter("token");
				console.log("Token: " + token);
				
				email = getUrlParameter("email");
				console.log("Email: " + email);

				if (!token || !email) {
					window.location.replace("signin.html");
				}
			});

			$("#reset").click(function() {
				let password = $("#password").val();
				let confirm = $("#confirm_password").val();

				if (password === confirm) {
					$("#wait").modal();
				} else {
					$("#reason").text("Passwords do not match!");
					$(".alert").show();
				}
			});
			$('#wait').on('shown.bs.modal', function (e) {
				$.post("/user/password/reset", JSON.stringify({email: email, password: $("#password").val(), token: token}))
				.done(function( data ) {
					window.location.href = "/collections.html";
				})
				.fail(function( data ) {
					if (data.responseJSON) {
						$("#reason").text(data.responseJSON.error);
					} else {
						if (data.status === 404) {
							$("#reason").text("The password reset token was not found. Please request a new password reset email.");
						} else {
							$("#reason").text("An unknown error occurred. Status code: " + data.status);
						}
					}
					$(".alert").show();
					console.log(data);
				})
				.always(function() {
					$("#wait").modal("hide");
				});
			});

			$("#alert-close").click(function() {
				$(".alert").hide()
			});

			$('#confirm_password').keypress(function (e) {
				if (e.which === 13) {
					$('#reset').click();
					return false;
				}
			});
		</script>
  </body>
</html>
