<!DOCTYPE html>
<html lang="en">
  <head>
    {{template "header.html"}}

    <title>Song - Sheet Music Organizer</title>

    <style>
      #tag_container button {
        margin-right: 5px;
      }

      #tag_container .deletable:hover {
        text-decoration: line-through;
      }

      #edit_buttons button {
        margin-left: 5px;
        width: 5em;
      }

      .song_value  {
        /* background-color: #eee;
        border-radius: 5px; */
        margin-bottom: 1em;
        font-size: large;
      }

      h5 {
        margin-top: .5rem;
        margin-bottom: 0;
        color: gray;
        font-size: small;;
      }

      #tag_container {
        margin-top: 4px;
      }

      #plus {
        filter: invert(100%);
        height: 1.4em;
        float: left;
        margin-left: -4px;
        margin-top: 2px;
      }

      textarea {
        resize: both;
        width: 20em;
        height: 5em;
      }

      input {
        margin-bottom: 1em;
      }

      #song_notes {
        white-space: pre-line;
      }
    </style>
  </head>

  <body>
    {{template "navbar.html"}}

    <div class="container">
      <!-- Header -->
      <h1 id="page_header">Loading...</h1>
      <hr>

      <div id="alerts"></div>

      <!-- Main view -->
      <div id="song_info_container">
        <div>
          <h5>Name</h5>
          <div class="song_value" id="song_name"></div>
          <input class="song_value hidden" id="song_name_input" type="text">
        </div>
        <div>
          <h5>Artist</h5>
          <div class="song_value" id="song_artist"></div>
          <input class="song_value hidden" id="song_artist_input" type="text">
        </div>
        <div>
          <h5>Location</h5>
          <div class="song_value" id="song_location"></div>
          <input class="song_value hidden" id="song_location_input" type="text">
        </div>
        <div>
          <h5>Last performed</h5>
          <div class="song_value" id="song_last_performed"></div>
          <input class="song_value hidden" id="song_last_performed_input" type="date">
        </div>
        <div>
          <h5>Date added</h5>
          <div class="song_value" id="song_date_added"></div>
        </div>
        <div>
          <h5>Added by</h5>
          <div class="song_value" id="song_added_by"></div>
        </div>
        <div>
          <h5>Notes</h5>
          <div class="song_value" id="song_notes"></div>
          <textarea class="song_value hidden" id="song_notes_input">
            </textarea>
        </div>
        <div>
          <h5>Tags</h5>
          <div class="song_value" id="tag_container">
            <a data-toggle="modal" href="#add_tag_modal" class="btn btn-success hidden" id="add_tag_button"><img src="/img/plus.svg" id="plus">Add tag</a>
          </div>
        </div>
      </div>

      <hr class="hidden" id="edit_divider">
      <div class="clearfix">
        <div class="float-right row hidden" id="edit_buttons">
          <button type="button" class="btn btn-secondary" id="edit_cancel">Cancel</button>
          <button type="button" class="btn btn-primary" id="song_save">Save</button>
        </div>

      <!-- Clear the floated edit buttons for the footer -->
      <div class="clearfix"></div>
      
      {{template "footer.html"}}
    </div>

    <!-- #region Modals -->

    <!-- Add tag wait modal -->
    <div class="modal fade in" tabindex="-1" role="dialog" id="tag_wait">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Adding Tag...</h5>
        </div>
        <div class="modal-body">
          <p>Please wait while we tag this song...</p>
        </div>
        </div>
      </div>
    </div>

    <!-- Delete tag wait modal -->
    <div class="modal fade in" tabindex="-1" role="dialog" id="delete_tag_wait_modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Removing Tag...</h5>
        </div>
        <div class="modal-body">
          <p>Please wait while we remove this tag from the song...</p>
        </div>
        </div>
      </div>
    </div>

    <!-- Edit song wait modal -->
    <div class="modal fade in" tabindex="-1" role="dialog" id="edit_song_wait">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Saving changes...</h5>
        </div>
        <div class="modal-body">
          <p>Please wait while we save your changes to this song...</p>
        </div>
        </div>
      </div>
    </div>

    <!-- Delete song wait modal -->
    <div class="modal fade in" tabindex="-1" role="dialog" id="delete_song_wait">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Deleting song...</h5>
        </div>
        <div class="modal-body">
          <p>Please wait while we delete this song...</p>
        </div>
        </div>
      </div>
    </div>
    
    <!-- Delete song modal -->
    <div class="modal fade" id="delete_song_modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Delete song confirmation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>
              Are you sure you want to delete this song? It will be permanently removed
              from this collection, all attachments will be deleted, and no one will be
              able to access it anymore.
            </p>
            <p>This CANNOT be undone!</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger" id="delete_song">Delete</button>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Add tag modal -->
    <div class="modal fade" id="add_tag_modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add Tag</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
            <div class="form-group">
              <label for="tag_list" class="col-form-label">Select tag to add:</label>
              <select class="form-control" id="tag_list" name="tag_list">
              </select>
            </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="add_tag">Add Tag</button>
          </div>
        </div>
      </div>
    </div>
    
    <!-- #endregion -->
  
    <!-- Script -->
    <script src="/js/song.js" type="module"></script>
  </body>
</html>
